<a href="https://colab.research.google.com/github/rehmanantor/List-and-Tuple-Practice/blob/main/Untitled3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
list=[1,2,3,4,5,6,7,8,9,10]
list.append("hello")
list.insert(1,'ola')
list.remove('ola')

list.pop()
list.sort(reverse=True)
list
max=0
min=9999999
for i in list:
  if i < min:
    min=i
  if i > max:
    max=i

print("max = ",max,"\nmin = ",min)

In [ ]:
list=[1,90,43,908,54,34,123,2333,9875]
x=list[:7]
print(x)
z=list[4:]
print(z)
list.reverse()
print(list)
print(p)

In [ ]:
list=[1,90,43,908,54,34,123,2333,9875]
even=[]
odd=[]
for i in list:
  if i%2==0:
    even.append(i)
  else:
    odd.append(i)
print(even)
print(odd)

In [ ]:

list3=[]
list2=["abdul","lol","sdad"]
for i in list2:
  chr=i.upper()
  index=list2.index(i)
  list3.insert(index,chr)
print(list3)

['ABDUL', 'LOL', 'SDAD']

In [ ]:
list2=["abdul","lol","sdad"]

for i in list2:
  if len(i)<4:
    list2.remove(i)
print(list2)

['abdul', 'sdad']

In [ ]:
list=[[1,2,3,4,5,6,7,8]
, ["abdul",'rehman'],['lomru','things'] ]
unwrapped=[]
for sublist in list:
  for item in sublist:
    unwrapped.append(item)
print(unwrapped)

TUPPLES

In [ ]:
tupple=((1,23,44,35),(123,545,2323))

print(tupple[0][0:2:1])

In [ ]:

tupple=((1,23,44,35),(123,545,2323))
sublist=[]
listm=[]
for subtuple in tupple:
  sublist=list(subtuple)

  listm.append(sublist)
print(listm)